.footer{
    background-color:  hsl(233, 26%, 24%);
}
.footerStart{
    .col:hover{
        cursor: pointer;
    }
    svg:hover path{


        fill: hsl(136, 65%, 51%);  
    }
}
.footerMiddle{
    text-align: center;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    ul{
        list-style-type: none;
        padding-left: 0;
        li{
            padding-bottom: 5px;
            a{
                color: white;
                text-decoration: none;
                font-size: 14px;
                font-weight: 400;
                font-family: 'Public Sans', sans-serif;
                line-height: 18px;
                letter-spacing: 1px;
                cursor: pointer;
                transition: 0.3s;

            }
            a:hover{
                text-decoration: underline;
                color:  hsl(136, 65%, 51%);
                transition: 0.3s;

            }
        }
    }
}
.footerEnd{
    text-align: end;
    padding-top: 30px;
    color: white;
}
.btn-col{
    padding-bottom: 10px ;
}
.btn{
    background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    color: white;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    padding: 10px 20px 10px 20px;

    cursor: pointer;
    &:hover{
        background-image: linear-gradient(to right, hsl(136, 65%, 60%), hsl(192, 70%, 60%));
    
    }
}