<div class="container my-5">
    <div class="row">
       <div class="col-6 ">
            <h1>Next Generation</h1>
            <h1>digital banking</h1>
            <p>Take your financial life online. Your Easybank account will be a one-stop-shop for spending, saving, budgeting, investing, and much more.</p>
            <button class="btn btn-primary">Request Invite</button>
       </div>
       <div class="col-5 imgs">
            <div class="img-home"  >
                <img src="assets/images/bg-intro-desktop.svg" alt="" class="imgBgIntro">
                <img src="assets/images/image-mockups.png" class="imgMockups">
            </div>
       </div>
    </div>
</div>    