<div class="container my-5">
    <div class="row">
       <div class="col-5">
            <h1>Next Generation</h1>
            <h1>digital banking</h1>
            <div class="col-md-6">
                Take your financial life online. Your EasyBank account
                will be a one-stop-shop for spending, saving, budgeting, investing, and much more.
            </div>
            <div class="col">
                <button class="btn btn-primary">Request Invite</button>
            </div>
       </div>
       <div class="col-md-6">
            <div class="img-home" >
                <img src="assets/images/image-mockups.png" class="img-fluid">
                
            </div>
       </div>
    </div>
</div>    